html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.copilot-page .mdl-layout__header-row {
  padding-left: 40px;
}
.copilot-page .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}

.docs-navigation__container {
    overflow: hidden;
    height: 64px;
    width: 100%;
    bottom: 0;
    left: 0
}
.docs-navigation {
    box-shadow: none!important;
    border: 0!important;
    width: 100%;
    height: 85px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 16px 0 24px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: -16px
}
.docs-layout.is-small-screen .docs-navigation {
    padding: 0
}
.docs-layout.is-small-screen .docs-navigation .mdl-navigation__link .material-icons {
    display: none
}
.mdl-navigation__link--icon>span,
.mdl-navigation__link--icon>.material-icons {
    line-height: 64px;
    margin-right: 8px;
    line-height: inherit
}
.docs-navigation .mdl-navigation__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
    height: 64px
}
.docs-navigation .mdl-navigation__link:hover,
.docs-navigation .mdl-navigation__link.download:hover>span,
.docs-navigation .mdl-navigation__link.download:hover>.material-icons {
    background-color: inherit;
    opacity: 1!important
}
.docs-navigation .mdl-navigation__link:not(.download),
.docs-navigation .mdl-navigation__link.download>span,
.docs-navigation .mdl-navigation__link.download>.material-icons {
    opacity: .65
}
.docs-navigation .mdl-navigation__link,
section.download {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 64px;
    padding: 0 16px;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 3px solid transparent
}
.docs-layout.is-small-screen .docs-navigation .mdl-navigation__link,
.docs-layouy.is-small-screen section.download {
    padding: 0 12px
}
.about .docs-layout:not(.is-small-screen) .mdl-navigation__link.download>.material-icons,
.about .docs-layout.is-small-screen .mdl-navigation__link.download>button,
body:not(.about) .mdl-navigation__link.download>button {
    display: none
}
.docs-navigation .download button .material-icons {
    color: #000;
    opacity: .54
}
.docs-navigation .is-active {
    opacity: 1;
    border-bottom-color: #18FFFF
}
.docs-navigation::-webkit-scrollbar {
    display: none
}
body:not(.about) .docs-layout.is-small-screen .docs-layout-header {
    background-image: none
}
.docs-layout.mdl-layout.is-small-screen .docs-layout-header.mdl-layout__header {
    padding: 0;
    height: 64px
}
.docs-layout.is-small-screen .docs-layout-header .docs-layout-title,
.docs-layout.is-small-screen .docs-layout-header .mdl-textfield {
    display: none
}
.docs-layout.is-small-screen .docs-navigation__container {
    top: 0;
    bottom: auto;
    left: 48px;
    width: calc(100% - 2 * 48px);
    padding: 0!important
}

.copilot-page .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}
.copilot-page .mdl-card > * {
  height: auto;
}
.copilot-page .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.copilot-page.copilot-page .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.copilot-page .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.copilot-page .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.copilot-page .mdl-card__actions a:hover,
.copilot-page .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.copilot-page .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.copilot-page #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.copilot-page .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.copilot-page section.section--center {
  max-width: 860px;
}
.copilot-page #features section.section--center {
  max-width: 620px;
}
.copilot-page section > header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.copilot-page section > .section__play-btn {
  min-height: 200px;
}
.copilot-page section > header > .material-icons {
  font-size: 3rem;
}
.copilot-page section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.copilot-page section .section__circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
}
.copilot-page section .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
.copilot-page section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.copilot-page section .section__text a {
  text-decoration: none;
}
.copilot-page section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.copilot-page section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.copilot-page .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.copilot-page section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.copilot-page section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.copilot-page .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.copilot-page .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
.copilot-page #features section {
  margin-bottom: 72px;
}
.copilot-page #features h4, #features h5 {
  margin-bottom: 16px;
}
.copilot-page .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.copilot-page .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.copilot-page .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}

.copilot-page .mdl-menu__container {
  z-index: 99;
}

.copilot-page .copilot-logo {
    background-color: white;
    height: 100px;
}

.copilot-page .copilot-logo img {
        height: 100%;
}

.copilot-page .copilot-logo-buffer {
    background-color: white;
    height: 10px;
}



.copilot-post-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.copilot-post-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}


.copilot-page.is-small-screen .copilot-post-content {
  padding: 40px 28px;
}

.copilot-post-content h3 {
  margin-top: 48px;
}

.copilot-post-container img {
  max-width: calc(100% - 16px);
  margin: 0 auto;
}

.plugin-logo {
  max-width: calc(50% - 16px);
  margin: 0 auto;
  float: right;
}
