{% macro render_multi_field(field, field_name) %}
    <div class="form-group" id="rule_list">
        {% for subfield in field %}
        <div class="rules{% if subfield.errors %} error_class{% endif %}" id="{{subfield.name}}-group">
            {{ subfield(**kwargs)|safe }}
        </div>
        {% if subfield.errors %}
             {% for error in subfield.errors %}
                <p class="error_class">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% endfor %}
        <br/>
    </div>
{% endmacro %}
