---
layout: default
title: Main
---

<section class="section--center mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
        <div class="mdl-card__title mdl-color--accent">
            <h2 class="mdl-card__title-text">Trainer Resources</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="post-content" itemprop="articleBody">
                <p>CoPilot is a wireless hotspot for digital security trainers that provides an easy to use web interface for simulating custom censorship environments during trainings. CoPilot lets participants experience and successfully circumventing censorship in the safety of an interactive training environment.</p>
            </div>
        </div>
    </div>
</section>
<section class="section--center mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
        <div class="mdl-card__title mdl-color--accent">
            <h2 class="mdl-card__title-text">Trainer Resources</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-list">
                <ul class='mdl-list'>
                {% for post in site.categories["trainer"] %}
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            {% if post.icon %}
                            <i class="material-icons mdl-list__item-icon">{{ post.icon }}</i>
                            {% else %}
                            <i class="material-icons mdl-list__item-icon">school</i>
                            {% endif %}

                            <a class="post-link" href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
                        </span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section--center mdl-grid">
    <div class="mdl-card plugin-list mdl-cell mdl-cell--12-col mdl-shadow--4dp">
        <div class="mdl-card__title mdl-color--accent">
            <h2 class="mdl-card__title-text">Developer Resources</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-list">
                <ul class='mdl-list'>
                    {% for post in site.categories["developer"] %}
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            {% if post.icon %}
                            <i class="material-icons mdl-list__item-icon">{{ post.icon }}</i>
                            {% else %}
                            <i class="material-icons mdl-list__item-icon">build</i>
                            {% endif %}
                            <a class="post-link" href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
                        </span>
                    </li>
                    {% endfor %}
            </div>
        </div>
    </div>
</section>
