<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <img alt="Co-Pilot" src="https://raw.github.com/wiki/openinternet/co-pilot/images/copilot_logo.png">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <a href="{{ my_page.url | prepend: site.github.url }}" class="mdl-layout__tab">{{ my_page.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </header>
</div>
