<header class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h3 href="{{ site.github.url }}/">{{ site.title }}</h3>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <a href="{{ my_page.url | prepend: site.github.url }}" class="mdl-layout__tab">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
