<header class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <a class="site-title" href="{{ site.github.url }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.github.url }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
