/*
Color Palette

Primary:
Dark Blue : #002e62
Mid Blue:   #244c78
Light Blue: #72afb7

Secondary:
Dark Orange : #f25d23
Dark Yellow : #fbb033

Base:
Base 01: #1a1a1a
Base 02: #757575
Base 03: #e0e0e0
Base 04: #eeeeee
Base 05: #fafafa

*/


/* Navagation Bar */

.navigation {
    list-style: none;
    background: #002e62;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #002e62;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, #002e62 0%,#002e62 100%);
  color: #fafafa;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #72afb7;
  background: linear-gradient(135deg,#002e62  0%,#244c78 100%);
}

.site-wrap {
    min-width: 100%;
    height: 100vh;
    padding-top: 60px;
    overflow-x: hidden;
    background-color: #eeeeee;
    font-family: "Helvetica";
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    /*background-image: linear-gradient(135deg,
                      rgb(254,255,255) 0%,
                      rgb(221,241,249) 35%,
                      rgb(160,216,239) 100%);
    */
    background-size: 200%;
}
html, body {height:100%;}

.content-frame {
    border-radius: 1em;
    padding: 2em 2em 2em 2em;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 5%;
}


.nav_bar {
    width: 100%;
    background: #002e62;
    height: 60px;
    z-index: 1;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    fill: #ffffff;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='white' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label,
.site-wrap,
.menu_bar {
    transition: left 0.2s;
}

.site-wrap[left=200px] > .menu_bar {
    left: 200px;
}

.page_title {
    line-height: 60px;
    color: #ffffff;
    font-size: 3em;
    margin-right: 1em;
}

.menu_bar {
    position: fixed;
    left: inherit;
    top: 0;
    right: 0;
    text-align: right;
    text-color: #FFFFFF;
    background: #002e62;
    height: 60px;
    z-index: 1;
}

body {
    overflow-x: hidden;
    margin:0;
    padding:0;
}

/* === Text Formatting === */
a, h1, h2 {
    color: #005baa;
}

h1 {
    border-bottom: 2px solid #96a3c3;
}

.page {
    background: white;
}

/* Alert Message Lists */

.alerts {
    padding: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 1em;
}

.notice {
    font-weight:bold;
    text-align:center;
}

ul.flashes {
    list-style: none;
    padding:0;
    margin:0;
}

.flashes li {
    padding-left: 1em;
    text-indent: -.7em;
}

.flashes li.error {
    border-bottom: 1px solid #f25d23;
}

.flashes li.success {
    border-bottom: 1px solid #72afb7;
}

.flashes li:before {
    content: "• ";
}

.flashes li.error:before {
    color: #f25d23;
}

.flashes li.success:before {
    color: #72afb7;
}

/* Form Submission Buttons */

.blues {
    background-color:#72afb7 !important;
    border-color:#72afb7 !important;
}

.blues:hover {
    background-color:#244c78 !important;
    border-color:#244c78 !important;
}

.submit {
    margin-top: 1em;
}

.input_field  {
    margin-bottom: .5em;
}


#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

.paper {
    border-radius: 1em;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1em;
}


/* Rules and Profiles */

.rule.error {
    border-bottom: 1px solid #f25d23;
    text-indent: -.7em;
}

.rule.error:before {
    content: "• ";
        color: #f25d23;
}

.help {
    display: none;
}

.rule.input:focus + div.help {
        display: block;
}

.rule {
    border-bottom: 1px solid #eeeeee;
    padding: 3rem 0;
}

.mock_rule {
    border-bottom: 1px solid #eeeeee;
    padding: 3rem 0;
}

/* Errors */
.error_bar {
    background: #fbb033;
    height: 300px;
    align-items:center;
    display:flex;
}

.error_container {
    margin-right:auto;
    margin-left:auto;
}

.face {
    margin: 15px;
    height: 200px;
    width: 167.046px;
    vertical-align: middle;
}

.big_errors .alerts {
    padding-top: 1em;
    font-size: 2em;
    text-align: center;
}

.error_msg {
    color: #ffffff;
    font-size: 5em;
}

/*Start with emotes invisible*/
.smile {opacity: 0.0;}
.frown {opacity: 0.0;}
.flame {opacity: 0.0;}
.oface {opacity: 0.0;}

/* But not everything */
.glasses_wifi  {opacity: 1.0;}
.glasses {opacity: 1.0;}
.face_head  {opacity: 1.0;}

/* Make the emotions become opaque when they are in the right emote class parent */
.emote_smile /deep/ .smile {opacity: 1.0;}
.emote_frown /deep/ .frown {opacity: 1.0;}
.emote_flame /deep/ .flame {opacity: 1.0;}
.emote_oface /deep/ .oface {opacity: 1.0;}


/* Login */
.welcome_bar {
    height: 300px;
    position:relative;
}

.welcome_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Load Profiles page */

.load_profiles li {
  background: url('/static/images/globe_16.png') no-repeat left top;
  padding: 0px 0px 30px 63px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  margin-top: 15px;
  border-bottom: 1px solid #eeeeee;
}
.load_profiles a {
    font-size: 2em;
}

.load_profiles li.upload_prof {
  background: url('/static/images/upload_16.png') no-repeat left top;
  padding: 0px 0px 30px 63px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  margin-top: 15px;
  border-bottom: 1px solid #eeeeee;
  font-size: 2em;
}

.services li.working {
  background: url('/static/images/reload_lblue_16.png') no-repeat left top;
  padding: 0px 0px 30px 63px;
  /* reset styles (optional): */
  list-style: none;
  margin-top: 15px;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}

.services li.broken {
  background: url('/static/images/reload_orange_16.png') no-repeat left top;
  padding: 0px 0px 30px 63px;
  /* reset styles (optional): */
  list-style: none;
  margin-top: 15px;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}


.services a {
    font-size: 2em;
}


.status li {
  padding: 0px 0px 30px 63px;
  /* reset styles (optional): */
  list-style: none;
  margin-top: 15px;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}

.status li.on.wifi {
  background: url('/static/images/wifi_on_16.png') no-repeat left top;
}

.status li.off.wifi {
  background: url('/static/images/wifi_off_16.png') no-repeat left top;
}

.status li.on.profile {
  background: url('/static/images/globe_16.png') no-repeat left top;
}

.status li.off.profile {
  background: url('/static/images/globe_off_16.png') no-repeat left top;
}

.status {
    font-size: 2em;
}
