.site-wrap {
    padding: 30px 4em 15em 4em;
}

.submit {
    padding: 3rem 0 2rem;
}

.rule {
        padding: 1rem 0 1rem;
}

.rule.error {
        padding-left: 1rem;
}

.status .items {
        padding-top: 2.5rem;
}


svg.icon {
        height: 5rem;
        width: 5rem;
}


.logo {
        padding: 3rem 0 3rem;
}