.body {
	padding: 3rem 0 2rem;
}

.submit {
    padding: 3rem 0 2rem;
}

.rule {
	padding: 1rem 0 1rem;
}

.rule.error {
	padding-left: 1rem;
}

.status.items {
	padding: 1rem 0 1rem;
}


svg.icon {
	height: 5rem;
	width: 5rem;
}

