<!doctype html>
<!-- Core stlesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">

<!-- Responsive stylesheets -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type=text/css media="screen and (max-width: 320px) and (orientation: portrait)" href="{{ url_for('static', filename='css/small.css') }}">
<link rel="stylesheet" type=text/css media="screen and (min-width: 320px) and (max-width: 640px)" href="{{ url_for('static', filename='css/medium.css') }}">
<link rel="stylesheet" type=text/css media="screen and (min-width: 640px)" href="{{ url_for('static', filename='css/large.css') }}">
<link rel="stylesheet" type=text/css media="(orientation: portrait)" href="{{ url_for('static', filename='css/portrait.css') }}">
<link rel="stylesheet" type=text/css media="(orientation: landscape)" href="{{ url_for('static', filename='css/landscape.css') }}">

<body>
    <ul class="navigation">
        <li class="nav-item"><a class="popover-link" href="{{ url_for('profile') }}">New</a></li>
        <li class="nav-item"><a class="popover-link" href="{{ url_for('profile_load') }}">Load</a></li>
        <li class="nav-item"><a class="popover-link" href="{{ url_for('profile_current') }}">Edit</a></li>
        <li class="nav-item"><a class="popover-link" href="{{ url_for('config') }}">Settings</a></li>
        <li class="nav-item"><a class="popover-link" href="{{ url_for('info') }}">Info</a></li>
        <li class="nav-item"><a class="popover-link" href="{{ url_for('plugins') }}">Plugins</a></li>
        <li class="nav-item"><a class="popover-link" href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>
    <div class="site-wrap">
        <div class="menu_bar">
            <div class="page_title">
                {{ title }}
            </div>
        </div>
        <div class="container content-frame">
            {% block body %}{% endblock %}
            {% block submit %}{% endblock %}
        </div>
    </div>
</body>
