<!doctype html>
<!-- Core stlesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">

<!-- Responsive stylesheets -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type=text/css media="screen and (max-width: 320px) and (orientation: portrait)" href="{{ url_for('static', filename='css/small.css') }}">
<link rel="stylesheet" type=text/css media="screen and (min-width: 320px) and (max-width: 640px)" href="{{ url_for('static', filename='css/medium.css') }}">
<link rel="stylesheet" type=text/css media="screen and (min-width: 640px)" href="{{ url_for('static', filename='css/large.css') }}">
<link rel="stylesheet" type=text/css media="(orientation: portrait)" href="{{ url_for('static', filename='css/portrait.css') }}">
<link rel="stylesheet" type=text/css media="(orientation: landscape)" href="{{ url_for('static', filename='css/landscape.css') }}">

<!-- SVG sprite sheet -->
{% include 'sprites/status_symbol.svg' %}

<body>
    <ul class="navigation">
        <li class="nav-item"><a class="popover-link" href="#new">New</a></li>
        <li class="nav-item"><a class="popover-link" href="#load">Load</a></li>
        <li class="nav-item"><a class="popover-link" href="#edit">Edit</a></li>
        <li class="nav-item"><a class="popover-link" href="#settings">Settings</a></li>
        <li class="nav-item"><a class="popover-link" href="#info">Info</a></li>
        <li class="nav-item"><a class="popover-link" href="#plugins">Plugins</a></li>
    </ul>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>
    <div class="site-wrap">
        <div class="container content-frame">
            {% block body %}{% endblock %}
            {% block submit %}{% endblock %}
        </div>
    </div>
</body>
