{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "alert.html" import render_alerts %}
{% from "submit.html" import render_submit_buttons %}


{% block body %}
{{ render_alerts(get_flashed_messages(with_categories=true))}}

<script type="text/javascript" src="{{ url_for('static', filename='js/visual.js') }}"></script>

<section class="section--center mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
    </div>
        <div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Settings</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Configure CoPilot here.
            </div>
            <div class="copilot-form_list mdl-card__actions mdl-card--border">
                <form action="{{ url_for('config') }}" method=post id="config_form">
                    {{ form.csrf_token }}
                <div class="mdl-textfield mdl-js-textfield">
                    {{ render_field(form.ap_name, class='mdl-textfield__input') }}
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ render_field(form.ap_password, class='mdl-textfield__input') }}
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ render_field(form.confirm_ap_pass, class='mdl-textfield__input') }}
                </div>

                <div class="mdl-textfield mdl-js-textfield">
                    {{ render_field(form.password, class='mdl-textfield__input') }}
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ render_field(form.confirm, class='mdl-textfield__input') }}
                </div>

                <div class="mdl-card__actions mdl-card--border">

                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="section-spacer"></div>
                {% if form.old_password %}
                    <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised">Submit</button>
                {% else %}
                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit" form="config_form" value="Submit">Submit</button>
                    {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </form>
    {% if form.old_password %}
    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Please enter your current admin password.</h4>
        <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield">
                {{ render_field(form.old_password, class='mdl-textfield__input') }}
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised" type="submit" form="config_form" value="Submit">Submit</button>
        <button class="mdl-button mdl-js-button mdl-button--raised" type="button" class="mdl-button close">Cancel</button>
    </dialog>
    <script>
     var dialog = document.querySelector('dialog');
     var showDialogButton = document.querySelector('#show-dialog');
     if (! dialog.showModal) {
         dialogPolyfill.registerDialog(dialog);
     }
     showDialogButton.addEventListener('click', function() {
         dialog.showModal();
     });
     dialog.querySelector('.close').addEventListener('click', function() {
         dialog.close();
     });
    </script>
    {% endif %}
</section>
{% endblock %}
