{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "alert.html" import render_alerts %}
{% from "submit.html" import render_submit_buttons %}

{% block alert %}
{{ render_alerts(get_flashed_messages(with_categories=true))}}
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/visual.js') }}"></script>

  {% if form.error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      <form action="{{ url_for('config') }}" method=post>
          {{ form.csrf_token }}
          <div class="row input_field">
              <div class="ten columns">
                  {{ render_field(form.ap_name) }}
              </div>
          </div>
          <div class="row input_field">
              <div class="ten columns">
                  {{ render_field(form.ap_password) }}
              </div>
          </div>
          <div class="row input_field">
              <div class="ten columns">
                  {{ render_field(form.confirm_ap_pass) }}
              </div>
          </div>
          <div class="row input_field">
              <div class="ten columns">
                  {{ render_field(form.password) }}
              </div>
          </div>
          <div class="row input_field">
              <div class="ten columns">
                  {{ render_field(form.confirm) }}
              </div>
          </div>
{% endblock %}

{% block submit %}
          {% if form.old_password %}
          <a href='#' onclick='overlay()' class="button button-primary blues">Submit</a>
          <div id="overlay">
              <div class="paper">
                  {{ render_field(form.old_password) }}
                  <div class="submit">
                      <div class="row input_field">
                          <input type="submit" name="submit_action" value="Submit" class="button-primary blues">
                      </div>
                  </div>
              </div>
          </div>
          {% else %}
          {{ render_submit_buttons(buttons) }}
          {% endif %}
</form>
{% endblock %}
