{% extends "base.html" %}
{% from "alert.html" import render_alerts %}

{% block body %}
<div class="error_bar">
    <div class="error_container">
        <img src="{{ url_for('static', filename='images/face_{0}_48.png'.format(emotion)) }}" alt="Co-Pilot Logo" />
        <span class="error_msg">Error</span>
    </div>
</div>
<div class="big_errors">
    {{ render_alerts(get_flashed_messages(with_categories=true))}}
</div>

<a href='{{ url_for("profile") }}' class="button button-primary blues">Home</a>
{% endblock %}
