{% extends "base.html" %}

{% block body %}
<section class="section--center mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
    </div>
    <div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">CoPilot Info</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-grid mdl-grid--no-spacing">
            <ul class="status mdl-list">
                {% for item in status %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content" >
                        <i class="material-icons mdl-list__item-icon .mdl-list_big-item-icon">{{ item['icon'] }}</i>
                        <div>
                            <label>{{ item['name'] }}</label>
                            <p><a href="{{ url_for( item['url'] ) }}">{{ item['value'] }}</a></p>
                        </div>
                    </span>
                </li>
                {% endfor %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content" >
                        <i class="material-icons mdl-list__item-icon .mdl-list_big-item-icon">extension</i>
                        <div>
                            <label>Plugins</label>
                            <p><a href="{{ url_for('plugins') }}">Check Plugin Status</a></p>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}
