{% extends "base.html" %}
{% from "rule_item.html" import render_rules %}

{% block body %}
<section class="section--center mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
    </div>
    <div class="mdl-card profile-list mdl-cell mdl-cell--8-col mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Load</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Load profiles on CoPilot. Upon selecting a profile you will be redirected to that profiles page to edit or apply the loaded profile.
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-grid mdl-grid--no-spacing">
                {% for name in profiles %}
                <div class="section__circle-container mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--11-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h2 class="squished_headers"><a  href="/profile/edit/{{ name }}">{{ name }}</a></h2>
                </div>
                {% endfor %}
        </div>
    </div>
</section>

<section class="section--center mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
    </div>
    <div class="mdl-card profile-list mdl-cell mdl-cell--8-col mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Upload</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Upload profiles from your device.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <form action="{{ url_for('profile_upload') }}" method=post enctype=multipart/form-data>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  id="load-profile-button" value="upload" onchange="this.form.submit()>"
                    <input type="file" name="file">
                    Upload
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
