{% extends "base.html" %}
{% from "alert.html" import render_alerts %}

{% block body %}
{{ render_alerts(get_flashed_messages(with_categories=true))}}

<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Plugins & Services</h2>
    </div>
    <div class="mdl-card__media">
    </div>
    <div class="mdl-card__supporting-text">
        Click on a service to restart it.
    </div>
    <div class="mdl-card__actions">
        <div class="demo-list-action mdl-list">
            {% for name in services %}
            {% if services[name] == "RUNNING" %}
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">extension</i>
                    <span>{{ name }}</span>
                </span>
                <a class="mdl-list__item-secondary-action" href="/plugins/restart/{{ name }}"><i class="material-icons">settings_backup_restore</i></a>
            </div>
            {% else %}
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">warning</i>
                    <span>{{ name }}</span>
                </span>
                <a class="mdl-list__item-secondary-action" href="/plugins/restart/{{ name }}"><i class="material-icons">settings_backup_restore</i></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
