{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<section class="section--center mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
    </div>
    <div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Advanced Configuration</h2>
        </div>
        <div class="copilot-form_list mdl-card__actions mdl-card--border">
            {% if form_config.has_form == True %}
            <form action="{{ formconfig.name }}" method=post id="plugin_config_form">
                {% for field in form %}
                    {% if field.type == 'SelectField' %}
                        {{ field(class="getmdl-select") }}
                    {% elif field.type == 'TextField' %}
                        {{ field(class="mdl-textfield mdl-js-textfield") }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="mdl-card__actions mdl-card--border submit_button">
                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit" form="config_form" value="Submit">Submit</button>
            </form>
            {% endif %}
            <form action="/plugins/restart/{{ plugin_name }}">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Restart Plugin
                </button>
            </form>
</section>
{% endblock %}
