{% extends "base.html" %}
{% from "rule_item.html" import render_rules %}
{% from "alert.html" import render_alerts %}
{% from "submit.html" import render_submit_buttons %}
{% from "_formhelpers.html" import render_field %}


{% block body %}
{{ render_alerts(get_flashed_messages(with_categories=true))}}
<meta id="all_actions" name="all_actions" content="{% for action in action_pairs %}{{ action }}|{% endfor %}">
<meta id="all_targets" name="all_targets" content="{% for tar in all_targets %}{{ tar }}|{% endfor %}">
{% for action in action_pairs %}
<meta id="pairs-{{ action }}" name="pairs-{{ action }}" content="{% for tar in action_pairs[action] %}{{ tar }}|{% endfor %}">
{% endfor %}
<meta id="has_subtarget" name="has_subtarget" content="{% for plugin in has_subtarget %}{{ plugin }}|{% endfor %}">

<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>

<form name="profile_form" action="{{ url_for('profile_save') }}" method="post" id="profile_form">
    {{ form.csrf_token }}
    <section class="section--center mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
        </div>
        <div class="mdl-card profile-list mdl-cell mdl-cell--8-col mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">CoPilot Profile</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Give your CoPilot profile a name.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-textfield mdl-js-textfield">
                    {{ render_field(form.prof_name, class='mdl-textfield__input') }}
                    <span class="mdl-textfield__error">You need to give a name to each profile.</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Rules Section -->

        {% for item in form.rules %}
    <section class="section--center mdl-grid rule-section">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
            </div>
            <div class="mdl-card rule-card mdl-cell mdl-cell--8-col mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Rule</h2>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    {{ render_rules(item) }}
                </div>
            </div>
        </section>
        {% endfor %}

        <section class="section--center mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet= mdl-cell---hide-phone">
            </div>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <!-- New rule button -->
                <div class="add_new_rule" id="addButton">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" type="button" onclick="addRule(); return false;">
                        <i class="material-icons">add</i>
                    </button>
                    <span for="new_rule_button" class="mdl-tooltip">Click to add a <br> new rule to your profile.</span>
                </div>
                <div class="add_new_rule">
                    <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button-right">Save & Apply</button>
                </div>
            </div>
        </section>
</form>

<!-- Dialogue -->
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Where would you like to save your profile?</h4>
    <div class="mdl-dialog__content">
        {% for location in locations %}
        <button class="mdl-button mdl-js-button mdl-button--raised" type="submit" form="profile_form" name="submit_action" value="{{ location }}">{{ location }}</button>
        {% endfor %}
    </div>
</dialog>
<script>
 var dialog = document.querySelector('dialog');
 var showDialogButton = document.querySelector('#show-dialog');
 if (! dialog.showModal) {
     dialogPolyfill.registerDialog(dialog);
 }
 showDialogButton.addEventListener('click', function() {
     dialog.showModal();
 });
</script>
{% endblock %}
