{% extends "base.html" %}
{% from "status.html" import render_status_items %}
{% from "alert.html" import render_alerts %}
{% from "submit.html" import render_submit_links %}

{% block status %}
{{ render_status_items(status_items) }}
{% endblock %}

{% block alert %}
{{ render_alerts(get_flashed_messages(with_categories=true))}}
{% endblock %}


{% block body %}
<h2>Load Profiles</h2>
{% for name in profiles %}
<div class="row">
    <div class="four columns">
        <a href="/profile/edit/{{ name }}">{{ name }}</a>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block submit %}
{{ render_submit_links(buttons) }}
{% endblock %}
