{% extends "base.html" %}
{% from "status.html" import render_status_items %}
{% from "alert.html" import render_alerts %}
{% from "submit.html" import render_submit_links %}

{% block status %}
{{ render_status_items(status_items) }}
{% endblock %}

{% block alert %}
{{ render_alerts(get_flashed_messages(with_categories=true))}}
{% endblock %}

{% block body %}
<h3>Name: {{ form.prof_name }}</h3>
{{ form.location }}

{% endblock %}

{% block submit %}
{{ render_submit_links(buttons) }}
{% endblock %}
