{% extends "base.html" %}
{% from "status.html" import render_status_items %}
{% from "alert.html" import render_alerts %}
{% from "submit.html" import render_submit_links %}

{% block status %}
{{ render_status_items(status_items) }}
{% endblock %}

{% block alert %}
{{ render_alerts(get_flashed_messages(with_categories=true))}}
{% endblock %}

{% block body %}
<h3>Name: {{ profile.name }}</h3>
{% for rule in profile.rules %}
<div class="row">
    <div class="four columns">
        {{ rule.action  }}
    </div>
    <div class="four columns">
        {{ rule.target  }}
    </div>
    <div class="four columns">
        {{ rule.sub_target  }}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block submit %}
{{ render_submit_links(buttons) }}
{% endblock %}
