{% macro render_rules(field, field_name) %}
<div class="row" id="rule_list">
        <div class="one columns">
                <img src="{{ url_for('static', filename='images/delete_rule.png') }}" onclick="add_rule()">
        </div>
        {{ field }}
        {{ field_name }}
        {% for subfield in field %}
        {{ subfield }}
        {{ subfield.name }}
        <div class="three columns {% if subfield.errors %} error_class{% endif %}" id="{{subfield.name}}-group">
                {# Deal with Errors First #}
                {% if subfield.errors %}
                {% for error in subfield.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}

                {# Actual Rule Subfield #}
                {{ subfield.name }}
                {{ subfield.label.text }}
                {{ subfield.data }}
                <div class="help">
                        {{ subfield.description }}
                </div>
        </div>
        {% endfor %}
</div>
{% endmacro %}
