{% macro render_submit_buttons(buttons) %}
<div class="submit">
    <div class="row">
        {% for button in buttons %}
        <div class="two columns">
            {% if button.submit == True  %}
            <input type="submit" value="{{ button.name }}" class="form_button">
            {% else %}
            <input type="button" value="{{ button.name }}" class="form_button">
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_submit_links(buttons) %}
<div class="submit">
    <div class="row">
        {% for button in buttons %}
        <div class="two columns">
            <form method="post"  action="{{ button.link }}">
                <input type="submit" value="{{ button.name }}" class="form_button">
            </form>
        </div>
        {% endfor %}
    </div>
{% endmacro %}
