/*
Color Palette

Dark Blue : 002e62 
Light Blue : 005baa
Grey Blue : 96a3c3
Light Grey : 939192
Dark Grey : 626264
Green : 6db33
Light Green : b3d78d
Orange : fbb033
Yellow : fbb033
*/

body {
    font-family: "Helvetica";
    background: #ffffff;
}

/* === Text Formatting === */
a, h1, h2 {
    color: #005baa;
}

h1, h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #96a3c3;
}

h2 {
    font-size: 1.2em;
}

.page           {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}
.entries        {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entries li     {
    margin: 0.8em 1.2em;
}
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.form_group  tr td { border-left:1px solid white; padding:5px }
tr td:first-child { border-left: none }