<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>copilot</name>
  <service>
    <type>_http._tcp</type>
    <port>8080</port>
    <host>copilot.local</host>
  </service>
</service-group>
