{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="ten columns">
        <video class="MediaDetail-item u-posAbsoluteCenter Video" autoplay="" autobuffer="" controls="" loop="" height="450px" width="600px" poster="{{ url_for('static', filename='images/CjzRbUuUYAIHsAU.jpg') }}" src="{{ url_for('static', filename='images/CjzRbUuUYAIHsAU.mp4') }}"><source src="{{ url_for('static', filename='images/CjzRbUuUYAIHsAU.mp4') }}" type="video/mp4"><img src="{{ url_for('static', filename='images/CjzRbUuUYAIHsAU.jpg') }}" class="Video-fallbackImage" alt="">Your browser does not support playback of this video.</video>
    </div>
</div>
{% endblock %}
